@{ 
    ViewBag.Title = "Register";
}

<a class="btn btn-success" data-toggle="modal" data-target=".bootstrapmodal">
    <span class="glyphicon glyphicon-eye-open"></span> View 
</a>

<div class="modal fade bootstrapmodal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Hello
            </div>
             <div class="modal-body">
                 Hello
            </div>
            <div class="modal-footer">
                hello
            </div>
        </div>
    </div>
</div>
