html,
body {
  height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 350px;
    padding-bottom: 30px;
    border: groove;
    border-color: #696969;
    background-color: #DCDCDC;
}

.form-signin {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border: groove;
    
    
}
.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width:200px;
  font-size: 16px;
}
  
    .form-signin .form-control:focus {
        z-index: 2;
    }


.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}